In [2]:
x = 10
print(x)

car = "Toyota"
print(car)

10

## Data Types

In [4]:
highScore = 9
isRaining = False
firstName = "Hannah"

print(str (highScore) + " is an interger")
print(str (isRaining) + " is a boolean")
print(firstName + " is a string")

9 is an interger
False is a boolean
Hannah is a string

## Changing Values

In [5]:
currentScore = 10
highScore = currentScore
highScore = 7
print(str(highScore))

7

In [7]:
num1 = 25
num2 = 15
num3 = 3
num2 = num3
num3 = num1
num1 = num2
print(str (num1))
print(str (num2))
print(str (num3))

3
3
25

## Strings and Lists

In [11]:
groupNames = ["Hannah", "Katelyn", "Ellie", "Pranavi"]
print(groupNames[0])
print(groupNames[1])
print(groupNames[2])
print(groupNames[3])

Hannah
Katelyn
Ellie
Pranavi

## Data Abstraction - Lists

In [12]:
scores1 = [89, 72, 34, 56, 83]
scores2 = [32, 25, 96, 55]
scores1 = scores2
print(str(scores1))

[32, 25, 96, 55]

## Hacks 1

sort the varaiables in the code cell below into these categories and write the adjoining numbers for each type:

- Integer: Variable 1
- List: Variable 3
- Boolean: Variable 4
- String: Variable 2

In [3]:
# Variable 1 

numStudents = 26
print(numStudents)

# Variable 2

car = "Tesla"
print(car)

# Variable 3

groupMates = ["Nikki", "Monica", "Ankit", "Varun"]
print(groupMates)

# Variables 4

dogbeatscats = True
print(dogbeatscats)

26
Tesla
['Nikki', 'Monica', 'Ankit', 'Varun']
True

## Hacks 2

Now in a separate code cell, define one variable for each type above! Make them unique to your interests and be creative. For your list, convert it to a string using JSON and print it out.

In [3]:
# Variable 1: Integer

numBooks = 58
print(numBooks)

# Varibale 2: List

favTeas = ["Earl Grey", "Oolong", "Green", "Black"]
print(favTeas)

# Variable 3: Boolean

booksarecool = True
print(booksarecool)

#Variable 4: String

plant = "Tulip"
print(plant)

# Converted list to string

favTeas = ["Earl Grey", "Oolong", "Green", "Black"]
drinks = favTeas
print(str(drinks))

58
['Earl Grey', 'Oolong', 'Green', 'Black']
True
Tulip
['Earl Grey', 'Oolong', 'Green', 'Black']